.\venv
venv
\venv

# Pasta de documentação para IA
docs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# Banco de dados local
db.sqlite3
